<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.CustomerMapper">
    
    <resultMap type="Customer" id="CustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="phone"    column="phone"    />
        <result property="avatar"    column="avatar"    />
        <result property="memberLevel"    column="member_level"    />
        <result property="points"    column="points"    />
        <result property="totalConsume"    column="total_consume"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerVo">
        select customer_id, customer_name, phone, avatar, member_level, points, total_consume, create_time, update_time from customer
    </sql>

    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>  
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="memberLevel != null "> and member_level = #{memberLevel}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="totalConsume != null "> and total_consume = #{totalConsume}</if>
            <if test="createTime != null "> and  date(create_time) = date(#{createTime})</if>
        </where>
    </select>
    
    <select id="selectCustomerByCustomerId" parameterType="Long" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where customer_id = #{customerId}
    </select>

    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="customerId">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">customer_name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
            <if test="memberLevel != null">member_level,</if>
            <if test="points != null">points,</if>
            <if test="totalConsume != null">total_consume,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">#{customerName},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
            <if test="memberLevel != null">#{memberLevel},</if>
            <if test="points != null">#{points},</if>
            <if test="totalConsume != null">#{totalConsume},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">customer_name = #{customerName},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="memberLevel != null">member_level = #{memberLevel},</if>
            <if test="points != null">points = #{points},</if>
            <if test="totalConsume != null">total_consume = #{totalConsume},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteCustomerByCustomerId" parameterType="Long">
        delete from customer where customer_id = #{customerId}
    </delete>

    <delete id="deleteCustomerByCustomerIds" parameterType="String">
        delete from customer where customer_id in 
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>
</mapper>