<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.OrderStatusHistoryMapper">
    
    <resultMap type="OrderStatusHistory" id="OrderStatusHistoryResult">
        <result property="historyId"    column="history_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="oldStatus"    column="old_status"    />
        <result property="newStatus"    column="new_status"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOrderStatusHistoryVo">
        select history_id, order_id, old_status, new_status, operator_id, remark, create_time from order_status_history
    </sql>

    <select id="selectOrderStatusHistoryList" parameterType="OrderStatusHistory" resultMap="OrderStatusHistoryResult">
        <include refid="selectOrderStatusHistoryVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="oldStatus != null "> and old_status = #{oldStatus}</if>
            <if test="newStatus != null "> and new_status = #{newStatus}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
        </where>
    </select>
    
    <select id="selectOrderStatusHistoryByHistoryId" parameterType="Long" resultMap="OrderStatusHistoryResult">
        <include refid="selectOrderStatusHistoryVo"/>
        where history_id = #{historyId}
    </select>

    <insert id="insertOrderStatusHistory" parameterType="OrderStatusHistory" useGeneratedKeys="true" keyProperty="historyId">
        insert into order_status_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="oldStatus != null">old_status,</if>
            <if test="newStatus != null">new_status,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="oldStatus != null">#{oldStatus},</if>
            <if test="newStatus != null">#{newStatus},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateOrderStatusHistory" parameterType="OrderStatusHistory">
        update order_status_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="oldStatus != null">old_status = #{oldStatus},</if>
            <if test="newStatus != null">new_status = #{newStatus},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where history_id = #{historyId}
    </update>

    <delete id="deleteOrderStatusHistoryByHistoryId" parameterType="Long">
        delete from order_status_history where history_id = #{historyId}
    </delete>

    <delete id="deleteOrderStatusHistoryByHistoryIds" parameterType="String">
        delete from order_status_history where history_id in 
        <foreach item="historyId" collection="array" open="(" separator="," close=")">
            #{historyId}
        </foreach>
    </delete>
</mapper>